body {
    background-image: linear-gradient(70deg, #FFC100, #F6EAB6);
}

#demo {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(224, 222, 222);
    border-radius: 20px;
}

p { 
    text-align: center; 
    font-size: 60px; 
    padding: 15px;
  } 